/* PrimeReact Responsive CSS */
.p-datatable .p-datatable-tbody > tr > td > .p-column-title {
    display: none;
    font-weight: 600;
  }

  .Ubicación {
    word-break: break-all;
  }
  
  @media screen and (max-width: 900px) {
    .p-datatable .p-datatable-thead > tr > th,
    .p-datatable .p-datatable-tfoot > tr > td {
      display: inline-block;
      padding: 4px;
    }
  
    .p-datatable .p-datatable-tbody > tr > td:not(:last-child) {
      padding: 0.5rem;
      border: 0.2px black solid;
    }
  
    .p-datatable .p-datatable-tbody > tr > td {
      display: flex;
      width: 100% !important;
      align-items: center;
      justify-content: space-between !important;
      
    }
  
    .p-datatable .p-datatable-tbody > tr > td > .p-column-title {
      display: block;
      
    }

    .p-button-help, .new, .delete {
      display: flex;
      width: 6rem;
      padding: 0.7rem 0;
    }

    .search-bar {
      margin-top: -2rem;
    }

    .p-input-icon-left {
      margin-top: -5px;
    }

    /*.delete-col-button, .edit-col-button {
      width: 2rem;
      height: 1rem;
    }*/

    .hidden-header {
      display: grid;
      position: fixed;
      visibility: hidden;
    }


    .p-selection-column {
      border-top: 1rem #000029 solid !important;
    }

    .Mover {
      border-left: 1px black solid;
      border-right: 1px black solid;
      
    }


    /*primero llamo al atributo clase para renderizar el contenido del className de mi jsx reenderizado como class html*/
    td::before {
      content: attr(class)"";
      padding-right: 4rem;

    }

    /*aca especifico que la primera diga eso porque si lo pongo por classname me agarra otra cosa*/
    td:nth-of-type(1):before {
       content: "Seleccionar"; 
      }
    
      td:nth-of-type(4):before {
        word-break: normal;
      }  

}