.productCardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
    text-align: center;
    padding: 0 2rem;
    background: white;
}

.product-card {
    margin: 2rem;
    border: 5px solid black;
    border-radius: 1%;
    width: 23.5rem;
    height: auto;
}


.product-card > h4 {
    font-size: 2rem;
    margin: auto;
    height: auto;
    color: black;
}

.product-card > h3 {
    font-size: 2rem;
    margin: auto;
    height: 5rem;
    line-height: 2.2rem;
    color:black;
}

.imgCard {
    width: 100%;
    height: 18rem;
}

.product-card button {
    border: 2px solid grey;
    outline: 0;
    padding: 1vh;
    color: white;
    background-color: cadetblue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;

}

.product-card button:hover {
    opacity: 0.7;
    background-color: coral;
}

.product-card .yaAgregado {
    border: 2px solid grey;
    outline: 0;
    padding: 1vh;
    color: white;
    background-color:cornflowerblue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}