.productCardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: white;
    margin: 0;
    padding: 0;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("../../../public/imgs/breads.jpeg");
    color: black;
    background-size: auto;
    background-position: center;
    height: 100%;
    width: 100%;
}

.productsTitle > h1 {
    font-size: 2.5rem;
    width: 100%;
    color: #eee;
    margin: 0;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    padding: 0;
    background-color: black;
}

.product-card {
    margin: 1rem;
    border: 5px solid #eee;
    border-radius: 0.5cap;
    width: 18rem;
    height: auto;
    padding: 0;
    background-color: rgba(250, 250, 250, 0.9);
}

.product-card > h2 {
    font-size: 2rem;
    margin: 0rem;
    height: 5rem;
    line-height: 2rem;
    color:black;
    padding-top: 0;
    text-shadow: 1px 1px 2px #444;
    
}

.product-card > h3 {
    margin: 0;
    font-size: 1.4rem;
    height: 9.5rem;
    line-height: 1.5rem;
    color:black;
    padding-top: 1.5rem;
    text-shadow: 1px 1px 2px #444;
    padding: 2rem;
}

.product-card > h4 {
    font-size: 2rem;
    margin: auto;
    height: 3rem;
    color: black;
    padding: 0;
    margin-top: 1rem;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    text-shadow: 1px 1px 3px #444;
    
}

.imgCard {
    width: 17.4rem;
    height: 11rem;
    border-bottom: 5px solid #eee;
    margin: auto;
}

.imgCard:hover, .imgCardList:hover {
    opacity: 0.7;
    color: coral;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: scale(1.05);
}

.addButton {
    border: black;
    outline: 0;
    padding: 0.6rem;
    color: white;
    background-color: cadetblue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px #444;
    min-height: 4.7rem;
}

button:hover {
    opacity: 0.7;
    background-color: coral;
}

 .yaAgregado {
    border: black;
    outline: 0;
    padding: 0.05rem 0.05rem;
    color: white;
    background-color:cornflowerblue;
    text-align: center;
    min-height: 4.7rem;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex-start;
    text-shadow: 1px 1px 3px #444;
}

.yaAgregado > p {
    padding: 0;
    margin: 0 auto;
    margin-top: -0.3rem;

}


/*.productsTitle {
    font-size: 2.5rem;
    width: 100%;
    color: #eee;
    margin: 0;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    padding: 0;
    background-color: black;
}*/

.noResults {
    text-align: center;
    justify-self: start;
    margin-top: 30vh;
    font-size: 5rem;
    color: #ccc;
    height: 90%;
    padding-bottom: 20vh;
}

.imgInDialog  {
    width: 90vmin;
    height: 60vmin;
    padding: 0;
    margin: 0;
}

.dialogContainer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    z-index: 50000;
    text-align: center;
}


/*LIST LAYOUT */
.product-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: auto;
    border: 5px solid black;
    text-shadow: 1px 1px 3px white;
    background-color: rgba(250, 250, 250, 0.4);
    padding: 0;
    font-size: 1.3rem;
    line-height: 1.4rem;
    min-height: 1.5rem;
}

.product-list-container > h2 {
    font-size: 1.25rem;
    line-height: 1.1rem;
    width: 43%;
    margin: 0;
    min-height: 1.3rem;
}

.product-list-container > h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    height: 1rem;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    
}

.product-list-container > h4 {
    font-size: 1.3rem;
    height: 1rem;
    padding: 0;
    width: 7.5rem;
    margin: 0;
}



.product-list-container > .yaAgregado > p {
    padding: 0;
    margin: 0 auto;
    margin-top: -0.3rem;
    margin-bottom: -0.3rem;
}

.product-list-container > .imgCard {
    width: 6.3rem;
    height: 3.3rem;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

.product-list-container > .yaAgregado, .product-list-container > .addButton {
    width: 6.3rem;
    border: 2px solid black;
    margin: 0;
    min-height: 3rem;
    font-size: 0.9rem;
    padding: 0;
}


@media screen and (max-width: 950px) {
    .product-list-container {
        width: 100%;
    }
 
}


@media screen and (max-width: 693px) {
    
    .product-card {
        width: 45vw;
        margin: 0.2rem 0.2rem;
    }

    .imgCard {
        height: 32vw;
        width: 42.3vw;
    }

    .product-card > h2 {
        font-size: 1.4rem;
        line-height: 1.5rem;
        height: 3.6rem;
        margin-top: -0.5rem;
        padding-top: 0;
    }

    .product-card > h3 {
        font-size: 4.3vw;
        line-height: 4.2vw;
        height: 35vw;
        margin-bottom: 0.2rem;
        
    }

    .product-card > h4 {
        font-size: 1.4rem;
        height: inherit;
    }

    .dialogContainer {
        width: 100%;
    }

    .yaAgregado {
        min-height: 3.6rem;
    }

    .addButton {
        font-size: 1.2rem;
        min-height: 3.6rem;
        padding: 0.2rem;
    }
    

}