.ticketDetail {
    display: grid;
    
    grid-template-columns:  70% 10% 20% ;
    grid-template-areas: 
    "name quanty price";

    padding: 0;
    margin: auto;
    justify-items: stretch;
    line-height: 1px;
    text-align: start;
    border: 2px groove rgb(192, 192, 192);
    
    max-width: 500px;
    margin: auto;
}

.ticket {
    max-width: 500px;
}

.quanty {
    width: 7rem;
    margin-left: -3rem;
}