@import "~react-image-gallery/styles/css/image-gallery.css";

.galery {
    margin: auto;  
    padding: 2rem 0.5rem;
    max-width: 50rem;
}

.galery-img {
    width: inherit;
    max-width: 50rem;
}

.image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, .7);
    bottom: 0.5rem;
    color: #bbb;
    left: inherit; 
    right: 0.5rem;
    position: absolute;
    border-radius: 7%;
    text-align: start;
    width: 30vmin;
    height: 30vmin;
    font-size: 2vmin;
    padding: 0 0.7rem;
    margin: 0;
}

.image-gallery-bullets {
    margin-bottom: -40px!important;
}

a {
    text-decoration: none;
    color: #bbb;
}

a>h2:hover {
    color: cornflowerblue;
    transform: scale(1.15, 1.15);
    transition: 0.7s;
}

.pi-map-marker {
    color: red;
}

.pi-whatsapp {
    color: green;
}

.pi-facebook {
    color: blue;
}

.pi-camera {
    color: purple;
}

.pi {
    font-size: 4vmin;
}