.cartContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../public/imgs/carrito fondo.jpg");
    color: black;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.cartContent {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    border: 5px solid black;
    width: 70rem;
    margin-bottom: 0.1rem;
    background-color: rgba(250, 250, 250, 0.7);
    text-shadow: 1px 1px 3px white;
}

.cartContent > img {
    margin-top: 0;
    width: 11rem;
    height: 12rem;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.name {  
    width: 34rem;
    font-size: 1.8rem;
    text-align: start;
    padding-left: 1rem;
}

.price {
    font-size: 1.9rem;
    margin: auto;
    border: 4px solid black;
    border-radius: 1cap;
    padding: 0.3rem;
}

.quanty {
    font-size: 1.7rem;
    font-weight: bold;
    margin: auto;
    border: 2px solid black;
    border-radius: 15%;
    width: auto;
    padding: 0 0.8rem;
}

.cartTotal {
    margin: 0 23rem;
    padding: 0;
    font-size: 2rem;
    width: 70rem;
    border: 5px solid black;
    text-align: center;
    height: 7rem;
    background-color: rgba(250, 250, 250, 0.7);
    text-shadow: 1px 1px 3px white;
}

.cartMessageEmpty {
    text-align: center;
    margin-top: 30vh;
    font-size: 5rem;
}

.counterButton {
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15%;
    width: 2rem;
    margin: auto; 
}

.counterButton:hover {
    background-color: cyan;
}

.quantyCounter {
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: row;
}

.cartDeleteButton {
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.5rem;
    padding: 0 0.8rem;
}

.confirmBtn {
    height: 5rem;
    width: 25rem;
    margin: 1rem 0;
    font-size: 2rem;
    text-shadow: 1px 1px 3px black;
    color: white;
    border: 2px solid black;
}

@media screen and (max-width: 799px) {
    .name {
        width: 10rem;
        line-height: 2rem;
    }

    .cartContent {
        display: inline-flex;
    }
    
}