.cartContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.cartContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid black;
    width: 100vh;
    margin: auto;
}

.cartContent > img {
    width: 10vh;
    height: 10vh;
}

.cartMessageEmpty {
    text-align: center;
    margin-top: 30vh;
    font-size: 7vh;
}

.counterButton {
    font-size: 2.5vh;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15%;
    width: 3vh;
    margin: auto; 
}

.counterButton:hover {
    background-color: cyan;
}

.quantyCounter {
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: row;
}

.cartDeleteButton {
    cursor: pointer;
    margin-right: 2vh;
}

.name {
    width: 35vh;
    font-size: 2.5vh;
    margin: auto;
    text-align: start;
}

.price {
    font-size: 2.5vh;
    margin: auto;
}

.quanty {
    font-size: 2.5vh;
    font-weight: bold;
    margin: auto;
    border: 2px solid black;
    border-radius: 15%;
    width: 3vh;
}

.cartTotal {
    margin: auto;
    font-size: 2.5vh;
    width: 100vh;
    border: 5px solid black;
    text-align: center;
    
}