

.navContainer {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background-color: #444;
    border: 0.3rem solid #ccc; 
    width: 100%;
    align-items: center;
    border-radius: 1cap;
}

.navbarLogo {
    justify-self: start;
    margin-left: 1rem;
    color: #fff;
    margin-top: 1.7rem;
    cursor: pointer;
}

.navbarLogo > img {
    
    height: 3.3rem;
    margin: 0; 
}


.seeCart {
    font-size: 2.3rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    position: fixed;   
    top: 0;
    right: 0;
    z-index: 1000;
}

.seeCart > i {
    font-size: 3.3rem;
    color: #444;
    text-shadow: 1px 1px 10px #ccc;
    font-weight: 500;
}

.cartItemsTotal {
    background-color: rgb(243, 59, 46);
    color: white;
    border-radius: 0.7cap;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
    margin-top: -3rem;
    margin-right: -0.5rem;
    margin-left: 0.5rem;
    width: 2.4rem;
    text-align: center;
    padding-top: 0;
    
}

.whatsapp > i {
    font-size: 4rem;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    position: fixed;   
    bottom: 0;
    right: 0;
    z-index: 1;
    text-shadow: 3px 3px 5px #444;
    text-align: center;
    justify-content: center;
    margin: 0rem 0.2rem 0.2rem 0rem;
}

.whatsapp > i:hover {
    color: greenyellow;
    transform: scale(1.3, 1.3);
    transition: 0.7s;
    p {
     border: 4px solid greenyellow;
     transition: 0.7s;
    }
}

.whatsapp > i > p {
    font-size: 1.1rem;

    color: white;
    text-shadow: 2px 2px 4px black;
    margin-top: 0;
    background-color: rgba(90, 200, 90, 0.5);
    border: 4px solid green;
    border-radius: 2cap;
    padding: 0 0.2rem;
}

.back-to-top {
    position: fixed;
    bottom: 4.3rem;
    right: 0.1rem;
    background-color: #007BFF;
    padding: 10px 15px;
    font-size: 4rem;
    font-weight: bolder;
    z-index: 1000;
    text-decoration: dashed;
    text-shadow: -2px 2px 2px black;
    border: none;
  }


.back-to-top:hover {
    color: cyan;
    transform: scale(1.3, 1.3);
    transition: 0.7s;
}