.navContainer {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    background-color: white;
    border: 4px groove grey
}

.navbarLogo {
    justify-self: start;
    margin-left: 2rem;
    color: #fff;
    margin-top: 1.5rem;
    cursor: pointer;
}

.navbarLogo > img {
    justify-self: self-start;
    height: 5rem;
    margin: -0.5rem -1rem;
}


.seeCart {
    font-size: 2.7rem;
    margin-right: 4vh;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;
    position: fixed;   
    top: 0;
    right: 0;
}

.cartItemsTotal {
    background-color: rgb(243, 59, 46);
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 3rem;
    margin-top: -2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    
}