.filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.7rem;
    font-weight: 700;
    color:#eee;
    width: 90vw;
    padding: 0.5rem;
    gap: 0.5rem;
    margin: 0;
}

.filtersContainer {
    margin: auto;
}

#category {
    font-size: 1.5rem;
}

.searchFilter {
    font-size: 1.5rem;
    color: #eee;
}

input, select {
    background-color: #777;
    color: #eee;
}