.filters {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.7rem;
    font-weight: 700;
    color: grey;
    width: 90vw;
    padding: 0 0.5rem;
    gap: 0.5rem;
    margin: 0;
}

.filtersContainer {
    margin: auto;
}

#category {
    font-size: 1.5rem;
}