.fields {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    padding: 0;
}

.buyForm {
    justify-content: center;
    text-align: center;
    width: 100%;
    
    margin: auto;
    padding: 0;
    padding-bottom: 0.5em;
  }

.fields > .p-button {
    width: 10rem;
}
 
.formContainer {
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 0;
}

.payCheckContainer {
    padding: 1rem;
}

.pay-label {
    display: block;
}

.buttonSwitch {
    padding: 1rem;
}

.buttonSwitchDelivery {
    width: 100%;  
}

.buttonSwitchDelivery > .p-button {
    margin-top: -1rem;
}
