.banner {
    background-size: cover;
    background-position: center;
    height: 50rem;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../public/imgs/pansanoBanner.jpg");
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    text-align: center;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px grey;
    font-size: 10rem;
    font-weight: bold;
}

.mainLogo {
    margin-top: 2vh;
    height: 16.5rem;
}

.banner h2 {
    text-align: center;
    font-size: 3rem;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px grey;
}

.banner h3 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px grey;
}